@font-face {
  font-family: 'Aktiv Grotesk Corp';
  src: url('AktivGroteskCorp-Bold.eot');
  src: local('AktivGroteskCorp-Bold'),
      url('AktivGroteskCorp-Bold.eot?#iefix') format('embedded-opentype'),
      url('AktivGroteskCorp-Bold.woff2') format('woff2'),
      url('AktivGroteskCorp-Bold.woff') format('woff'),
      url('AktivGroteskCorp-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Aktiv Grotesk Corp';
  src: url('AktivGroteskCorp-Light.eot');
  src: local('AktivGroteskCorp-Light'),
      url('AktivGroteskCorp-Light.eot?#iefix') format('embedded-opentype'),
      url('AktivGroteskCorp-Light.woff2') format('woff2'),
      url('AktivGroteskCorp-Light.woff') format('woff'),
      url('AktivGroteskCorp-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Aktiv Grotesk Corp';
  src: url('AktivGroteskCorp-Regular.eot');
  src: local('AktivGroteskCorp-Regular'),
      url('AktivGroteskCorp-Regular.eot?#iefix') format('embedded-opentype'),
      url('AktivGroteskCorp-Regular.woff2') format('woff2'),
      url('AktivGroteskCorp-Regular.woff') format('woff'),
      url('AktivGroteskCorp-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/*========== VARIABLES CSS ============*/
:root{
  --header-height: 48px;
  --header-margin-top: 60px;
}

@media screen and (min-width: 768px){
  :root{
    --big-font-size: 1.5rem;
    --bigger-font-size: 2rem;
    --biggest-font-size: 3rem;

    --normal-font-size: 1rem;
    --smaller-font-size: .875rem;
  }
}

/*========== BASE ============*/
*,::before,::after{
  box-sizing: border-box;
}
html{
  
  scroll-behavior: smooth;
  font-family:  'Aktiv Grotesk Corp';
}
body{
margin: 0;
}

h1,h2,h3,p,ul{
  margin: 0;
}


.suada-header{
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  //border: 1px solid red;
  max-width: 1109px;

  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  left: 0;
  right: 0;
}

.suada-nav{
  align-items: center;
  display: flex;
  font-family: Aktiv Grotesk Corp;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.list{
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.item-link{
  font-weight: bold;
  color: #FFFFFF;
  margin: 0 0 0 39px;
  text-decoration: none;
}
.main-btn{
  font-weight: bold;
  padding: 20px;
  background:none;
  border-radius: 35px;
  border-style: solid;
  border-color: white;
  text-transform: uppercase;
  color:white;
}

.btn{
  margin-left: 18px;
}

.main-btn-2{
  font-weight: bold;
  margin-left: 40px;
  padding: 7px 15px 7px 15px;
  background:none;
  border-radius: 35px;
  border-style: solid;
  border-color: white;
  text-transform: uppercase;
  color:white;
}

.suada-main{
  margin-left: auto;
  margin-right: auto;
  justify-content: center;

  display: flex;
  height: 796px;
  background: linear-gradient(252.35deg, #FF4EA9 22.04%, #FD5D6E 57.11%, #FF5858 71.62%);
}

.main-container{
  max-width: 1299px;
margin-top: 176px;
display: inherit;
}

.main-content{
  margin-top: 127px;
width: 393px;
height: 279px;
}

.main-title{
  font-family: Aktiv Grotesk Corp;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 122%;
  /* or 61px */
  color: #FFFFFF;
  
}
.main-btn-block{
left: 280px;
top: 303px;

font-family: Aktiv Grotesk Corp;
font-style: normal;
font-weight: normal;
font-size: 50px;
line-height: 122%;
/* or 61px */
color: #FFFFFF;
margin-top: 57px;
}


.suada-phone{
  padding-left: 86px;
}
/*========== CLASS CSS ============*/
/*========== LAYOUT ============*/
/*========== NAV ============*/

/*Show menu*/